.mat-icon {
  font-size: 60px;
  width: 60px;
  height: 60px;
}


.mat-raised-button {
  width: 100%;
  background-color: #d1d1d1;
}
.mat-raised-button:hover {
  background-color: #b7b7b7;
}

.mat-form-field {
  width: 100%;
}

.centerDiv {
  margin: auto;
  width: 100%;
}

.p-5 {
  background-color: #dbe2ef;
}