#layoutSidenav_content, 
.nav-fixed #layoutSidenav #layoutSidenav_content{
  padding-left: 0rem;
  top: 0rem;
}


#layoutSidenav {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.example-full-width {
  width: 100%;
}

.mat-chip {
  justify-content: space-between;
}

@media (min-width: 320px) {
  .container {
    &.full-width{
      min-width: 100%;
    }
  }

}