
<div [ngClass]="{'sidenav-toggled': sideNavStat}">
  <span class="nav-fixed">
    <app-dp-top-nav (toggleValue)="toggleNavClass($event)"></app-dp-top-nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <app-dp-side-nav [sideNavList]="sideNavList"></app-dp-side-nav>
      </div>
      <div id="layoutSidenav_content" class="scrollable">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi pariatur provident explicabo dolorum maiores commodi, ut maxime nemo aspernatur aliquid delectus sit nobis autem similique magnam eligendi quo sed unde?
      </div>
    </div>
  </span>
</div>
