<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-6 col-lg-6 col-md-6">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
<!--            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <div class="centerDiv">
                    <mat-icon>lock</mat-icon>
                  </div>
                  
                  <h1 class="h3 text-gray-900">Forgot Password?</h1>
                  <p>You can reset your password here.</p> {{hasEmail}}
                </div>
                <form *ngIf="hasEmail" [formGroup]="resetPassForm" autocomplete="off">
                  <div formGroupName="passwordValidation">
                    <div class="form-group row">
                      <mat-form-field class="col-8 mx-auto">
                        <mat-label>Enter New Password</mat-label>
                        <input type="password" matInput formControlName="password" placeholder="Password">
                        <mat-error *ngIf="resetPassForm.get('passwordValidation').get('password').hasError('required')">
                          Enter Password
                        </mat-error>
                        <mat-error *ngIf="resetPassForm.get('passwordValidation').get('password').hasError('minlength')">
                          Password must be at least 6 characters
                        </mat-error>
                        <mat-error *ngIf="resetPassForm.get('passwordValidation').get('password').hasError('MatchPassword') && resetPassForm.get('passwordValidation').get('password') != null && resetPassForm.get('passwordValidation').get('confirmPassword') != null">
                          Confirm password doesn't match
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="form-group row">
                      <mat-form-field class="col-8 mx-auto">
                        <mat-label>Confirm New Password</mat-label>
                        <input type="password" matInput formControlName="confirmPassword">
                        <mat-error *ngIf="resetPassForm.get('passwordValidation').get('confirmPassword').hasError('required')">
                          Enter Password Again
                        </mat-error>
                        <mat-error *ngIf="!resetPassForm.get('passwordValidation').get('confirmPassword').hasError('MatchPassword') && resetPassForm.get('passwordValidation').get('confirmPassword').hasError('minlength')">
                          Password has to be at least 6 character long
                        </mat-error>
                        <mat-error *ngIf="resetPassForm.get('passwordValidation').get('confirmPassword').hasError('MatchPassword')">
                          Confirm password doesn't match
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="text-center">
                    <button mat-raised-button [disabled]="resetPassForm.invalid" (click)='onSubmit()'>Submit</button>
                  </div>
                </form>

                <div *ngIf="!hasEmail">
                  
                  <div class="alert alert-danger" role="alert">
                    <h3 align="center">You are late</h3>
                    <h4 align="center">Your token session expired</h4>
                    
                  </div>
                  <!-- <button mat-raised-button align="center" (click)="changeState()">Resend Email</!-->
                  
                </div>
                <hr>
                <div class="text-center">
                  <a class="small" href="javascript:void(0);" (click)="signup()">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


