<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-6 col-lg-6 col-md-6">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
<!--            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <div class="centerDiv">
                    <mat-icon>lock</mat-icon>
                  </div>

                  <h1 class="h3 text-gray-900">Forgot Password?</h1>
                  <p>You can reset your password here.</p>
                </div>
                <form *ngIf="hasEmail && !isSubmitted" [formGroup]="resetPassForm" autocomplete="off">

                  <div class="form-group row" formGroupName="passwordValidation">
                    <div class="col-sm-12 mb-12 mb-sm-0">
                      <mat-form-field class="w-100">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password" placeholder="Ex. <PASSWORD>">
                        <mat-error *ngIf="resetPassForm.get('passwordValidation').get('password').hasError('required')">
                          Please enter your password
                        </mat-error>
                        <mat-error *ngIf="resetPassForm.get('passwordValidation').get('password').hasError('minlength')">
                          Password has to be at least 6 character long
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-12 mb-12 mb-sm-0">
                      <mat-form-field class="w-100">
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" matInput formControlName="confirmPassword" placeholder="Ex. Doe">
                        <mat-error *ngIf="resetPassForm.get('passwordValidation').get('confirmPassword').hasError('required')">
                          Please confirm password
                        </mat-error>
                        <mat-error *ngIf="resetPassForm.get('passwordValidation').get('confirmPassword').hasError('MatchPassword')">
                          Confirm password doesn't match
                        </mat-error>
                        <mat-error *ngIf="!resetPassForm.get('passwordValidation').get('confirmPassword').hasError('MatchPassword') && resetPassForm.get('passwordValidation').get('confirmPassword').hasError('minlength')">
                          Password has to be at least 6 character long
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <button mat-raised-button [disabled]="resetPassForm.invalid" (click)='onSubmit()'>Submit</button>

                </form>

                <div *ngIf="!hasEmail">
                  <div class="alert alert-danger" role="alert">
                    <h4 align="center">You are late</h4><br>
                    <h5 align="center">Your token session expired</h5>

                  </div>
                  <button mat-raised-button align="center" (click)="changeState()">Resend Email</button>
                </div>

                <div *ngIf="isSubmitted">
                  <div class="alert alert-info" role="alert">
                    
                    <h5 align="center">Your password is update</h5><br>
                    <h5 align="center">Please login</h5>

                  </div>
                  <button mat-raised-button align="center" (click)="signin()">Signin</button>
                </div>
                <hr>
                <div class="text-center">
                  <a class="small" href="javascript:void(0);" (click)="signup()">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


