.example-full-width {
  width: 100%;
}

.mat-chip {
  justify-content: space-between;
}

.alert-danger button{
  background-color: #F8D7DA;
  color: red;
  width: 100%
}
.alert-success button{
  background-color: #D4EDDA;
  color: green;
  width: 100%
}

.margin-1{
  margin: 1rem;
}

@media (min-width: 320px) {
  .container {
    &.full-width{
      min-width: 100%;
    }
  }

}