.mat-raised-button {
  background-color: rgb(222, 227, 228);
}

.mat-raised-button:hover {
  background-color: rgb(123, 228, 247);
}

.margin-up{
  margin-top: 2rem;
}

.form-group {
  display: grid;
}