<!-- <div >
  <ul *ngFor="let item of userDesigns">
    <li>{{item.design_id}}</li>
    <li>{{item.title}}</li>
    <li>{{item.type}}</li>
    <li>{{item.whereami.current_state}}</li>
    <li>{{item.whereami.previous_state}}</li>
  </ul>
</div> -->

<br>
<h3 class="txt-center">Submitted Designs</h3>
<div *ngIf="submitLength > 0; else noDataSubmit" class="mat-elevation-z8">
  <mat-table [dataSource]="submitDataSource" >
    
    <ng-container matColumnDef="design_id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.design_id}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="current_state">
      <mat-header-cell *matHeaderCellDef> Current State </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.whereami.current_state}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="previous_state">
      <mat-header-cell *matHeaderCellDef> Previous State </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.whereami.previous_state}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reviewButton">
      <mat-header-cell *matHeaderCellDef [attr.colspan]="2">  </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <!-- <button mat-raised-button (click)="onClickLaunch(element.design_id, element.user_unique_id)">Review</button>   -->
        <a mat-raised-button href="admin/design-info/{{element.design_id}}" target="_blank"> <mat-icon>launch</mat-icon> Review</a>
        <!-- <button mat-icon-button (click)="onClickLaunch(element.design_id, element.user_unique_id)"> <mat-icon>launch</mat-icon> </button> -->
        <!-- <button mat-icon-button color="warn"> <mat-icon>delete_outline</mat-icon> </button> -->
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <!-- <mat-footer-row *matFooterRowDef="['loading']"></mat-footer-row> -->
  </mat-table>
  <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 5, 10]" showFirstLastButtons></mat-paginator>
</div>


<ng-template #noDataSubmit>
  <div class="mat-elevation-z8">
    <strong>Loading....</strong>
    <p class="txt-center">There are no Submitted designs</p>
  </div>
</ng-template>