
.btn-app {
  background-color: #4DB6AC;
  color: whitesmoke;
}
.btn-rej {
  background-color: #EF4832;
  color: whitesmoke;
}
.btn-com {
  background-color: #FFB74D;
  color: whitesmoke;
}
.btn-close {
  background-color: #B0BEC5;
  color: whitesmoke;
}