<li ngbdropdown="" display="dynamic" class="nav-item no-caret mr-3 dropdown-user dropdown" [ngClass]="{'show': isOpen}">
  <a aria-haspopup="true" id="navbarDropdownUserImage" ngbdropdowntoggle="" data-cy="userMenu" role="button" aria-expanded="false" class="dropdown-toggle btn btn-icon btn-transparent-dark" (click)="toggle()">
    <img class="img-fluid" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"></a>
  <div ngbdropdownmenu="" aria-labelledby="dropdownUser" class="dropdown-menu border-0 shadow animated--fade-in-up" [ngClass]="{'show': isOpen}" [ngStyle]="styles" x-placement="bottom">
    <h6 class="dropdown-header d-flex align-items-center">
      <img class="dropdown-user-img" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
      <div class="dropdown-user-details">
        <div class="dropdown-user-details-name">Valerie Luna</div>
        <div class="dropdown-user-details-email">vluna@aol.com</div>
      </div>
    </h6>
    <div class="dropdown-divider"></div>
    <a routerlink="/dashboard" class="dropdown-item" href="/dashboard">
      <div class="dropdown-item-icon">
        <i-feather name="settings"></i-feather>
        <!--<i-feather name="settings">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-settings">
            <circle cx="12" cy="12" r="3"></circle>
            <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
          </svg>
        </i-feather>-->
      </div> Account</a>
    <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">
      <div class="dropdown-item-icon">
        <i-feather name="log-out">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-log-out">
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
            <polyline points="16 17 21 12 16 7"></polyline>
            <line x1="21" y1="12" x2="9" y2="12"></line>
          </svg>
        </i-feather>
      </div> Logout</a>
  </div>
</li>
