<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
<!--        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
        <div class="col-lg-12">
          <div class="p-5">
            <!-- {{isSignupSuccess}} -->
            <div *ngIf="isSignupSuccess">
              <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Registration is successful!. Please check your email to complete activation process. </h4>
              </div>
            </div>
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4" *ngIf="!isSignupSuccess">Create an Account!</h1>
            </div>
            <form [formGroup]="signupForm" *ngIf="!isSignupSuccess">
              <div class="form-group row">
                <!-- first name -->
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" placeholder="Ex. John">
                    <mat-error *ngIf="signupForm.get('firstName').hasError('required')">
                      Please enter your first name
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('firstName').hasError('minlength')">
                      Firstname has to be at least 3 character long
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('firstName').hasError('maxlength')">
                      Firstname can't be more than 12 character long
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- last name -->
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" placeholder="Ex. Doe">
                    <mat-error *ngIf="signupForm.get('lastName').hasError('required')">
                      Please enter your last name
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('lastName').hasError('minlength')">
                      Last name has to be at least 3 character long
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('lastName').hasError('maxlength')">
                      Last name can't be more than 12 character long
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group row">
                <!-- email -->
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input #userEmail matInput  formControlName="email" (blur)="onBlurEmail(userEmail.value)" (click)="onClickEmail()" placeholder="Ex. john.doe@gmail.com" (change)="checkEmail($event.target.value)">
                    <mat-error *ngIf="isEmailExists">
                      This email is already Registered. Try Signin.
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('email').hasError('required')">
                      Please enter your email
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('email').hasError('email')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- phone -->
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <mat-form-field class="example-full-width">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" placeholder="Ex. +1 01712 044 889">
                    <mat-error *ngIf="signupForm.get('phone').touched && signupForm.get('phone').hasError('required')">
                      Please enter your phone number
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
              <!-- password -->
              <div class="form-group row" formGroupName="passwordValidation">
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Ex. <PASSWORD>">
                    <mat-error *ngIf="signupForm.get('passwordValidation').get('password').hasError('required')">
                      Please enter your password
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('passwordValidation').get('password').hasError('minlength')">
                      Password has to be at least 6 character long
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword" placeholder="Ex. Doe">
                    <mat-error *ngIf="signupForm.get('passwordValidation').get('confirmPassword').hasError('required')">
                      Please confirm password
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('passwordValidation').get('confirmPassword').hasError('MatchPassword')">
                      Confirm password doesn't match
                    </mat-error>
                    <mat-error *ngIf="!signupForm.get('passwordValidation').get('confirmPassword').hasError('MatchPassword') && signupForm.get('passwordValidation').get('confirmPassword').hasError('minlength')">
                      Password has to be at least 6 character long
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- date of birth -->
              <div class="form-group row">
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <mat-form-field>
                    <mat-label>Date of Birth</mat-label>
                    <input matInput formControlName="dob"  [matDatepicker]="picker" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="signupForm.get('dob').hasError('required')">
                      Please Enter Date of Birth
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- gender -->
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <mat-form-field class="example-full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option *ngFor="let gender of genders" [value]="gender.value">
                        {{gender.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="signupForm.get('gender').hasError('required')">
                      Please Enter Gender
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button [color]="btnColor" [disabled]="signupForm.invalid || isEmailExists" (click)="onSubmit()">Submit</button>
            </form>

            <hr>
            <div class="text-center"  *ngIf="!isSignupSuccess">
              <a class="small" [routerLink]="['/forgot-password']">Forgot Password?</a>
            </div> <!-- href="javascript:void(0);" (click)="signup()" -->
            <div class="text-center">
              <a class="small" [routerLink]="['/signin']">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
