.mr {
  &-1p {
    margin: 1px;
  }
  &-2p {
    margin: 2px;
  }
  &-3p {
    margin: 3px;
  }
  &-4p {
    margin: 4px;
  }

  &-1r {
    margin: 1rem;
  }
  &-2r {
    margin: 2rem;
  }
  &-3r {
    margin: 3rem;
  }
  &-4r {
    margin: 4rem;
  }
}