@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./fonts";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Metropolis,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #687281;
  text-align: left;
  background-color: #eff3f9;
}
//@import "./boots-admin-2/sb-admin-2";

@import "lib/bootstarp-admin";

// @import "margin";
@import "override_template";



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .test {

  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .test {

  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .test {

  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .test {

  }
}



