.design-info{
  padding: 1rem;
  // border: 1px solid red;
  width: 65%;
  float: left;

  &-ul {
    list-style: none;
    padding-inline-start: 0px;
    padding-top: 10px;
  }
}

mat-dialog-actions {
  margin: 5px;
  padding: 5px;
  margin-left: 0;
  padding-left: 0;
  button {
    &:first-child {
      margin-left: 0;
    }
  }
}

.btn-app, .btn-com, .btn-rej, .btn-rev {
  color: whitesmoke;
  margin: 5px;
}

.btn-app {
  background-color: #3E9788;
}

.btn-com {
  background-color: #607D8B;
}

.btn-rej {
  background-color: #C30052;
}

.btn-rev {
  background-color: #673AB7;
}

.comments {
  // border: 1px solid black;
  padding-top: 1rem;
  width: 35%;
  float: left;
}
.cmt-card {
  width: 90%;
  margin: auto;
  height: 105px;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  overflow-x: auto;
  background-color: #d6e4e4;
}
.card {
  border: none;
  border-radius: 0;
}
div h4{
  text-align: center;
}

h1,h2,h3,h4,h5 {
  text-transform: uppercase;
}