
<div [ngClass]="{'sidenav-toggled': sideNavStat}">
  <span class="nav-fixed">
    <app-dp-top-nav (toggleValue)="toggleNavClass($event)"></app-dp-top-nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <app-dp-side-nav [sideNavList]="sideNavList"></app-dp-side-nav>
      </div>
      <div id="layoutSidenav_content" class="scrollable">
        <div class="container">
          <div class="card o-hidden border-0 shadow-lg my-3">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-lg-7">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Your Designs</h1>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">  
                <div class="col-11">
                  <div class="center-block">
                    <app-inner-list *ngFor="let design of designs" [designObj]="design"></app-inner-list>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-11">
                  <div class="center-block">
                    <!-- <table mat-table> -->
                      <!-- <tr>
                        <td>Design</td>
                        <td>Title</td>
                        <td>Type</td>
                        <td>Description</td>
                      </tr> -->
                      
                      <!-- <tr *ngFor="let design of designs" (click)="showSingleDesign(design.design_id, design.title)">
                        <a mat-button class="btn-link full-width">
                        
                          <td>
                            <img src="{{design.raw_design.public_url}}" alt="image" height="50" width="120">
                          </td>
                          <td>{{design.title}}</td>
                          <td>{{design.type}}</td>
                          <td> {{design.description}} </td>
                        </a>
                      </tr> -->
                      <!-- <tr *ngFor="let design of designs">
                        <td>
                          <img src="{{design.raw_design.public_url}}" alt="image" height="50" width="120">
                        </td>
                        <td>{{design.title}}</td>
                        <td>{{design.type}}</td>
                        <td> {{design.description}} </td>
                        <td> <button class="mat-raised-button">SHOW</button> </td>
                        <td> <button class="mat-raised-button">EDIT</button> </td>
                      </tr> 
                    
                    </table> -->
                    <!-- <a mat-button class="btn-link full-width">
                      <mat-card class="example-card" (click)="showSingleDesign(design.design_id, design.title)">
                          
                        
                        Description: 
                      </mat-card>
                    </a> -->
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>
