
.example-full-width {
  width: 100%;
}

.mat-chip {
  justify-content: space-between;
}

.example-card {
  max-width: 400px;
}

.alignLeft{
  display: flex;
  justify-content: start;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-button {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 320px) {
  .container {
    &.full-width{
      min-width: 100%;
    }
  }

}