<section class="bg-grad">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8 justify-content-center">
        <div class="welcome">

          <h1 class="h1 wlc">Welcome to Design Platform</h1>
          <p>
            Don't have account ? <br> <button type="button" class="btn btn-primary btn-custom"(click)="toSignup()">Signup</button>
          </p>
          <p>
            Already have an account <br> <button type="button" class="btn btn-primary btn-custom"(click)="toSignin()">Login</button>
          </p>

        </div>
      </div>
    </div>
  </div>
</section>