<nav id="sidenavAccordion" class="sidenav shadow-right sidenav-light">
  <div class="sidenav-menu">
    <div class="nav">
      <div *ngFor="let item of leftNavMenu">

        <div class="sidenav-menu-heading"> {{item.name}} </div>
        <app-dp-side-nav-item *ngFor="let menuItem of item.menu" [navItem]="menuItem" [navName]="item.name" (onClickSubMenu)="onNavItemClick($event)" (onClickSubSubMenu)="onClickSubSubMenu($event)"></app-dp-side-nav-item>
        <!-- <div *ngFor="let subMenuItem of menuItem.subMenu" >
          {{subMenuItem}}
        </div> -->
      </div>
    </div>

  </div>
</nav>
