<h1 mat-dialog-title>Reason for rejecting design</h1>
<mat-dialog-content>
  <!-- <p>{{senderId}}</p>
  <p>{{receiverId}}</p>
  <p>{{designId}}</p> -->
  <!-- <p>Reason for rejecting design</p> -->
  <form class="user" [formGroup]="rejectForm" autocomplete="off">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="comment" aria-describedby="" placeholder="Enter a Reason at least 5 charaters" required>
      <p *ngIf="rejectForm.get('comment').touched && rejectForm.get('comment').hasError('required')"> Enter a cause to reject </p>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">No Thanks</button>
  <button mat-button mat-dialog-close [disabled]="rejectForm.invalid" (click)="onSubmit()">REJECT</button>
</mat-dialog-actions>
  