<!--
<a class="nav-link active" [ngClass]="{'collapsed': collapsableList.get('dashboard').collapsed}" (click)="toggleCollapse('dashboard')">
  <div class="nav-link-icon">
    <i-feather name="activity"></i-feather>
  </div>
    Dashboards
  <div class="sidenav-collapse-arrow">
    <fa-icon [icon]="downArrow" class="ng-fa-icon ml-auto"></fa-icon>
  </div>
</a>
<nav class="sidenav-menu-nested nav" [ngClass]="{'collapsed': collapsableList.get('dashboard').collapsed}" [ngStyle]="collapsableList.get('dashboard').style">
  <div class="submenu" [ngClass]="{'collapsed': collapsableList.get('dashboard').collapsed}" >
    <a class="nav-link active" [ngClass]="{'collapsed': collapsableList.get('dashboard').collapsed}">
      Default
      <div class="sidenav-collapse-arrow">
      </div>
    </a>
    <nav   class="sidenav-menu-nested nav" [ngClass]="{'collapsed': collapsableList.get('dashboard').collapsed}" style="height: 0px;">
      
    </nav>
  </div>

  <div class="submenu collapsed">
    <a class="nav-link collapsed">
      Multipurpose
      <div   class="badge badge-primary ml-2">New!</div>
      <div class="sidenav-collapse-arrow">
      </div>
    </a>
    <nav   class="sidenav-menu-nested nav collapsed">
    </nav>
  </div>
  
  <div class="submenu collapsed">
    <a   class="nav-link collapsed">
      Affiliate
      <div   class="badge badge-primary ml-2">New!</div>
      
      <div   class="sidenav-collapse-arrow">
        
      </div>
    </a>
    <nav   class="sidenav-menu-nested nav collapsed">
      
    </nav>
  </div>
  </nav>-->

  <a class="nav-link " [ngClass]="{'collapsed': activeNavItem.collapsed, 'active': activeNavItem.active}" (click)="toggleCollapse(activeNavItem.name)">
    <div class="nav-link-icon">
      <i-feather name="activity"></i-feather>
    </div>
      {{activeNavItem.name}}
    <div class="sidenav-collapse-arrow">
      <fa-icon [icon]="downArrow" class="ng-fa-icon ml-auto"></fa-icon>
    </div>
  </a>
  <nav class="sidenav-menu-nested nav" [ngClass]="{'collapsed': activeNavItem.collapsed}" [ngStyle]="activeNavItem.style">
    <div class="submenu" [ngClass]="{'collapsed': activeNavItem.collapsed}" >
      <a class="nav-link active" [ngClass]="{'collapsed': activeNavItem.collapsed}">
        Default
        <div class="sidenav-collapse-arrow">
        </div>
      </a>
      <nav   class="sidenav-menu-nested nav" [ngClass]="{'collapsed': activeNavItem.collapsed}" style="height: 0px;">
        
      </nav>
    </div>
  
    <div class="submenu collapsed">
      <a class="nav-link collapsed">
        Multipurpose
        <div   class="badge badge-primary ml-2">New!</div>
        <div class="sidenav-collapse-arrow">
        </div>
      </a>
      <nav   class="sidenav-menu-nested nav collapsed">
      </nav>
    </div>
    
    <div class="submenu collapsed">
      <a   class="nav-link collapsed">
        Affiliate
        <div   class="badge badge-primary ml-2">New!</div>
        
        <div   class="sidenav-collapse-arrow">
          
        </div>
      </a>
      <nav   class="sidenav-menu-nested nav collapsed">
        
      </nav>
    </div>
    </nav>


